{% extends 'dapp/base.html' %}

{% block body %}
<div class="w-1/2 m-20">
    <h1 class="font-bold text-lg "> Edit Item</h1>

    <form  class="shadow-lg p-10" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label>Name</label>
            <div class="border rounded py-2 px-2 mr-10">{{ item_form.name}}</div>
        </div>
        <div>
            <label>Description</label>
            <div class="border rounded py-2 px-2 mr-10">{{ item_form.description}}</div>
        </div>
        <div>
            <label>Price</label>
            <div class="border rounded py-2 px-2 mr-10">{{ item_form.price}}</div>
        </div>
        <div>
            <label>Upload file</label>
            <div class=" rounded py-2 px-2 mr-10">{{ item_form.file}}</div>
        </div>
        <div class="mt-6">
            <button class="bg-blue-500 text-white px-4 py-2" type="submit">Update</button>

        </div>
    
       
    
    
    </form>
    

</div>
<div class="m-20">
    <a class="bg-red-500 px-6 py-3" href="{% url 'delete' item.id%}">Delete</a>

</div>

{% endblock %}

