{% block body %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'dapp/styles.css' %}">
</head>
<div class="flex flex-col justify-center items-center min-h-screen">
    <h1 class="font-bold text-lg">Register</h1>

    <form class="shadow-lg p-10" method="POST">
        {% csrf_token %}
        <div class="mb-2">
            <label for="">Username</label>
            <div class="border rounded py-2 px-2 mr-10">
                {{ user_form.username}}
            </div>
        </div>
        <div class="mb-2">
            <label for="">Email</label>
            <div class="border rounded py-2 px-2 mr-10">
                {{ user_form.email}}
            </div>
        </div>
        <div class="mb-2">
            <label for="">Password</label>
            <div class="border rounded py-2 px-2 mr-10">
                {{ user_form.password}}
            </div>
        </div>
        <div class="mb-2">
            <label for="">Confirm Password</label>
            <div class="border rounded py-2 px-2 mr-10">
                {{ user_form.password1}}
            </div>
        </div>
        <button class="bg-blue-500 text-white px-4 py-2" type="submit">Register </button>
        <p class="m-10">Already registered? <span> <a class="text-indigo-500" href="{% url 'login'%}">Click here</a> to login</p></span>

    </form>
</div>

   


{% endblock %}
